.bck{
    background: linear-gradient(274.96deg, #121E15 2.08%, rgba(18, 30, 21, 0.8) 114.84%);
    width: 100%;
    height: 795px;
    left: 0px;
    top: 7656px;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }